*{
     font-family: 'Plus Jakarta Sans', Helvetica, Arial, sans-serif !important;
}
.form-control:focus {
  border-color: #e66f15 !important;
  box-shadow: 0 0 0 0.2rem rgba(230, 111, 21, 0.25) !important;
}
.form-check-input:focus {
  border-color: #e66f15 !important;
  box-shadow: 0 0 0 0.2rem rgba(230, 111, 21, 0.25) !important;
}
/* Checkbox checked */
.form-check-input:checked {
  background-color: #e66f15 !important;
  border-color: #e66f15 !important;
}
.btn-primary {
  background-color: #e66f15 !important;
  border-color: #e66f15 !important;
}

.btn-primary:hover {
  background-color: #cf5f12 !important;
  border-color: #cf5f12 !important;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus-visible {
  background-color: #e66f15 !important;
  border-color: #e66f15 !important;
  box-shadow: 0 0 0 0.25rem rgba(230, 111, 21, 0.35) !important;
}
/* Select focus */
.form-select:focus {
  border-color: #e66f15 !important;
  box-shadow: 0 0 0 0.2rem rgba(230, 111, 21, 0.25) !important;
}
.form-select option:checked {
  background-color: #e66f15 !important;
  color: #fff;
}
.form-select option:checked:hover {
  background-color: #e66f15 !important;
  color: #fff;
}

/* menu */
.admin-container {
  padding: 20px;
}

.error {
  color: red;
}

/* CUISINES */
.cuisine-list {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  list-style: none;
  padding-left: 0px;
}

.cuisine-btn {
  color: #000;
  font-weight: 600;
  background: #fff;
  cursor: pointer;
  line-height: 30px;
  border-right: 1.5px dotted #b7b72d;
  padding-right: 10px;
}

.cuisine-btn.active {
  color: red;
}

/* MENU */
.menu-item {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.menu-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.menu-info {
  flex: 1;
}

/* BUTTONS */




.btn-save {
  background: #e66f15;
  color: #fff;
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
}

.btn-cancel {
  padding: 8px 14px;
    color: #fff;
    background-color: #e66f15;
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 360px;
}

.modal-box input {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
}

.modal-actions {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}
.menus_items_list{
  display: flex;
  list-style: none;
  gap: 12px;
  padding-left: 0px;
}
.menus_items_list li{
  cursor: pointer;
  border-right: 1.5px dotted #666;
  line-height: 30px;
  padding-right: 10px;
  font-weight: 700;
  color: #000;
}

.modal {
  z-index: 9999 !important;
}

.modal-backdrop {
  z-index: 9998 !important;
}




